
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="row main-auth">
        <div class="authhead text-center mb-15 col-12">
          Sign In
        </div>
        <form class="row auth-form" *ngIf="showOtpform === false">
          <mat-form-field class="col-12">
            <mat-select placeholder="Sign In As" [(value)]="user.user">
              <mat-option value="user">User</mat-option>
              <mat-option value="police">Police</mat-option>
              <mat-option value="rta">RTA</mat-option>
              <mat-option value="insurance">Insurance</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-12">
            <input matInput  placeholder="User Name" name="user" [(ngModel)]="user.userName"/>
          </mat-form-field>
          <!-- <mat-form-field class="col-12">
            <input matInput placeholder="Secure Number/Aadhar" name="aadhar" [(ngModel)]="user.ssn"/>
          </mat-form-field> -->
          <mat-form-field class="col-12">
            <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="user.password"/>
          </mat-form-field>
          <div class="text-center col-12">
            <button mat-button color="red" class="btn-health" (click)="signin()">
              Sign In
            </button>
          </div>
          <div class="text-center mt-24 col-12">
            <a class="customlink">Forgot password ?</a>
          </div>
          <div class="text-center mt-40 col-12">
            <p>
              Don’t have an account ?
              <a class="customlink" [routerLink]="['/signup']" >Sign up</a>
            </p>
          </div>
        </form>
        <form class="auth-form row" *ngIf="showOtpform !== false">
            <mat-form-field class="col-12">
              <input matInput maxlength="10" [(ngModel)]="otp" name="otp" placeholder="Please enter your otp" />
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-select placeholder="Provider" *ngIf="providers && providers.length > 1;" [(value)]="provider">
                    <mat-option *ngFor="let p of providers" [value]="p">{{p.providerName}}</mat-option>
                  </mat-select>
                  <input *ngIf="providers && providers.length === 1;" matInput  maxlength="10" placeholder="Provider" [(ngModel)]="providers[0].providerName" (value)="providers[0].providerName" name="provider"   readonly/>
              </mat-form-field>

            <div class="col-12 text-center mt-40 mb-60">
              <button mat-button color="red" class="btn-health mr-30" (click)="showOtpform = false;">
                Cancel
              </button>
              <button mat-button color="red" class="btn-health" (click)="signin()">
                Sign In
              </button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>