.btn-health {
  background: $primary-color;
  -webkit-box-shadow: 0 2px 2px #ccc;
  -moz-box-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
  border-radius: 2px !important;
  color: white;
  font-weight: 400;
  font-size: 14px;
}
.btn-delegate {
  color: white;
  font-weight: 400;
  font-size: 14px;
  min-height: 56px;
  min-width: 360px;
  min-width: 360px !important;
  background: rgba(100, 93, 216, 1);
  background: -moz-linear-gradient(
    left,
    rgba(100, 93, 216, 1) 15%,
    rgba(45, 204, 165, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(15%, rgba(100, 93, 216, 1)),
    color-stop(100%, rgba(45, 204, 165, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(100, 93, 216, 1) 15%,
    rgba(45, 204, 165, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(100, 93, 216, 1) 15%,
    rgba(45, 204, 165, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(100, 93, 216, 1) 15%,
    rgba(45, 204, 165, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(100, 93, 216, 1) 15%,
    rgba(45, 204, 165, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#645dd8', endColorstr='#2dcca5', GradientType=1 );
}
