// 0px
.mt-0 {
  margin-top: 0px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.mh-0 {
  @extend .mr-0;
  @extend .ml-0;
}
.mv-0 {
  @extend .mt-0;
  @extend .mb-0;
}
.ma-0 {
  margin: 0px;
}

.pt-0 {
  padding-top: 0px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pr-0 {
  padding-right: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.ph-0 {
  @extend .pr-0;
  @extend .pl-0;
}
.pv-0 {
  @extend .pt-0;
  @extend .pb-0;
}
.pa-0 {
  padding: 0px;
}
// 3px
.mt-3 {
  margin-top: 3px !important;
}
.mb-3 {
  margin-bottom: 3px !important;
}
.mr-3 {
  margin-right: 3px !important;
}
.ml-3 {
  margin-left: 3px !important;
}
.mh-3 {
  @extend .mr-3;
  @extend .ml-3;
}
.mv-3 {
  @extend .mt-3;
  @extend .mb-3;
}
.ma-3 {
  margin: 3px;
}

.pt-3 {
  padding-top: 3px;
}
.pb-3 {
  padding-bottom: 3px;
}
.pr-3 {
  padding-right: 3px;
}
.pl-3 {
  padding-left: 3px;
}
.ph-3 {
  @extend .pr-3;
  @extend .pl-3;
}
.pv-3 {
  @extend .pt-3;
  @extend .pb-3;
}
.pa-3 {
  padding: 3px;
}

// 5px
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mr-5 {
  margin-right: 5px !important;
}
.ml-5 {
  margin-left: 5px !important;
}
.mh-5 {
  @extend .mr-5;
  @extend .ml-5;
}
.mv-5 {
  @extend .mt-5;
  @extend .mb-5;
}
.ma-5 {
  margin: 5px;
}

.pt-5 {
  padding-top: 5px !important;
}
.pb-5 {
  padding-bottom: 5px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pl-5 {
  padding-left: 5px !important;
}
.ph-5 {
  @extend .pr-5;
  @extend .pl-5;
}
.pv-5 {
  @extend .pt-5;
  @extend .pb-5;
}
.pa-5 {
  padding: 5px;
}

//7
.pt-7 {
  padding-top: 7px;
}
.pb-7 {
  padding-bottom: 7px;
}
.pr-7 {
  padding-right: 7px;
}
.pl-7 {
  padding-left: 7px;
}
.ph-7 {
  @extend .pr-7;
  @extend .pl-7;
}
.pv-7 {
  @extend .pt-7;
  @extend .pb-7;
}
.pa-7 {
  padding: 7px;
}

.mt-7 {
  margin-top: 7px;
}
.mb-7 {
  margin-bottom: 7px;
}
.mr-7 {
  margin-right: 7px;
}
.ml-7 {
  margin-left: 7px;
}
.mh-7 {
  @extend .mr-7;
  @extend .ml-7;
}
.mv-7 {
  @extend .mt-7;
  @extend .mb-7;
}
.ma-7 {
  margin: 7px;
}

//8
.pt-8 {
  padding-top: 8px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pr-8 {
  padding-right: 8px;
}
.pl-8 {
  padding-left: 8px;
}
.ph-8 {
  @extend .pr-8;
  @extend .pl-8;
}
.pv-8 {
  @extend .pt-8;
  @extend .pb-8;
}
.pa-8 {
  padding: 8px;
}

.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mr-8 {
  margin-right: 8px;
}
.ml-8 {
  margin-left: 8px;
}
.mh-8 {
  @extend .mr-8;
  @extend .ml-8;
}
.mv-8 {
  @extend .mt-8;
  @extend .mb-8;
}
.ma-8 {
  margin: 8px;
}

// 10px
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mh-10 {
  @extend .mr-10;
  @extend .ml-10;
}
.mv-10 {
  @extend .mt-10;
  @extend .mb-10;
}
.ma-10 {
  margin: 10px;
}

.pt-10 {
  padding-top: 10px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.ph-10 {
  @extend .pr-10;
  @extend .pl-10;
}
.pv-10 {
  @extend .pt-10;
  @extend .pb-10;
}
.pa-10 {
  padding: 10px;
}

//12px

.mt-12 {
  margin-top: 12px !important;
}
.mb-12 {
  margin-bottom: 12px !important;
}
.mr-12 {
  margin-right: 12px !important;
}
.ml-12 {
  margin-left: 12px !important;
}
.mh-12 {
  @extend .mr-12;
  @extend .ml-12;
}
.mv-12 {
  @extend .mt-12;
  @extend .mb-12;
}
.ma-12 {
  margin: 12px;
}

// 15px
.mt-15 {
  margin-top: 15px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.mh-15 {
  @extend .mr-15;
  @extend .ml-15;
}
.mv-15 {
  @extend .mt-15;
  @extend .mb-15;
}
.ma-15 {
  margin: 15px;
}

.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.pl-15 {
  padding-left: 15px !important;
}
.ph-15 {
  @extend .pr-15;
  @extend .pl-15;
}
.pv-15 {
  @extend .pt-15;
  @extend .pb-15;
}
.pa-15 {
  padding: 15px;
}

// 20px
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mr-20 {
  margin-right: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mh-20 {
  @extend .mr-20;
  @extend .ml-20;
}
.mv-20 {
  @extend .mt-20;
  @extend .mb-20;
}
.ma-20 {
  margin: 20px;
}

// 20px
.mt-20n {
  margin-top: -20px;
}
.mb-20n {
  margin-bottom: -20px;
}
.mr-20n {
  margin-right: -20px;
}
.ml-20n {
  margin-left: -20px;
}
.mh-20n {
  @extend .mr-20n;
  @extend .ml-20n;
}
.mv-20n {
  @extend .mt-20n;
  @extend .mb-20n;
}
.ma-20n {
  margin: -20px;
}

.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pr-20 {
  padding-right: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.ph-20 {
  @extend .pr-20;
  @extend .pl-20;
}
.pv-20 {
  @extend .pt-20;
  @extend .pb-20;
}
.pa-20 {
  padding: 20px;
}

//24
.mt-24 {
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mr-24 {
  margin-right: 24px;
}
.ml-24 {
  margin-left: 24px;
}
.mh-24 {
  @extend .mr-24;
  @extend .ml-24;
}
.mv-24 {
  @extend .mt-24;
  @extend .mb-24;
}
.ma-24 {
  margin: 24px;
}

.pt-24 {
  padding-top: 24px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pr-24 {
  padding-right: 24px;
}
.pl-24 {
  padding-left: 24px;
}
.ph-24 {
  @extend .pr-24;
  @extend .pl-24;
}
.pv-24 {
  @extend .pt-24;
  @extend .pb-24;
}
.pa-24 {
  padding: 24px;
}

// 25px
.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mr-25 {
  margin-right: 25px;
}
.ml-25 {
  margin-left: 25px;
}
.mh-25 {
  @extend .mr-25;
  @extend .ml-25;
}
.mv-25 {
  @extend .mt-25;
  @extend .mb-25;
}
.ma-25 {
  margin: 25px;
}

.pt-25 {
  padding-top: 25px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pr-25 {
  padding-right: 25px;
}
.pl-25 {
  padding-left: 25px;
}
.ph-25 {
  @extend .pr-25;
  @extend .pl-25;
}
.pv-25 {
  @extend .pt-25;
  @extend .pb-25;
}
.pa-25 {
  padding: 25px;
}

// 28px
.mt-28 {
  margin-top: 28px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mr-28 {
  margin-right: 28px;
}
.ml-28 {
  margin-left: 28px;
}
.mh-28 {
  @extend .mr-28;
  @extend .ml-28;
}
.mv-28 {
  @extend .mt-28;
  @extend .mb-28;
}
.ma-28 {
  margin: 28px;
}

.pt-28 {
  padding-top: 28px;
}
.pb-28 {
  padding-bottom: 28px;
}
.pr-28 {
  padding-right: 28px;
}
.pl-28 {
  padding-left: 28px;
}
.ph-28 {
  @extend .pr-28;
  @extend .pl-28;
}
.pv-28 {
  @extend .pt-28;
  @extend .pb-28;
}
.pa-28 {
  padding: 28px;
}

// 30px
.mt-30 {
  margin-top: 30px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mr-30 {
  margin-right: 30px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.mh-30 {
  @extend .mr-30;
  @extend .ml-30;
}
.mv-30 {
  @extend .mt-30;
  @extend .mb-30;
}
.ma-30 {
  margin: 30px;
}

.pt-30 {
  padding-top: 30px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}
.pr-30 {
  padding-right: 30px !important;
}
.pl-30 {
  padding-left: 30px !important;
}
.ph-30 {
  @extend .pr-30;
  @extend .pl-30;
}
.pv-30 {
  @extend .pt-30;
  @extend .pb-30;
}
.pa-30 {
  padding: 30px;
}

//35
.mt-35 {
  margin-top: 35px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mr-35 {
  margin-right: 35px;
}
.ml-35 {
  margin-left: 35px;
}
.mh-35 {
  @extend .mr-35;
  @extend .ml-35;
}
.mv-35 {
  @extend .mt-35;
  @extend .mb-35;
}
.ma-35 {
  margin: 35px;
}

.pt-35 {
  padding-top: 35px;
}
.pb-35 {
  padding-bottom: 35px;
}
.pr-35 {
  padding-right: 35px;
}
.pl-35 {
  padding-left: 35px;
}
.ph-35 {
  @extend .pr-35;
  @extend .pl-35;
}
.pv-35 {
  @extend .pt-35;
  @extend .pb-35;
}
.pa-35 {
  padding: 35px;
}

.pt-40 {
  padding-top: 40px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pr-40 {
  padding-right: 40px;
}
.pl-40 {
  padding-left: 40px;
}
.ph-40 {
  @extend .pr-40;
  @extend .pl-40;
}
.pv-40 {
  @extend .pt-40;
  @extend .pb-40;
}
.pa-40 {
  padding: 40px;
}

// 40px
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mr-40 {
  margin-right: 40px;
}
.ml-40 {
  margin-left: 40px;
}
.mh-40 {
  @extend .mr-40;
  @extend .ml-40;
}
.mv-40 {
  @extend .mt-40;
  @extend .mb-40;
}
.ma-40 {
  margin: 40px;
}

// 50px
.mt-50 {
  margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.ml-50 {
  margin-left: 50px;
}
.mh-50 {
  @extend .mr-50;
  @extend .ml-50;
}
.mv-50 {
  @extend .mt-50;
  @extend .mb-50;
}
.ma-50 {
  margin: 50px;
}

.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pr-50 {
  padding-right: 50px;
}
.pl-50 {
  padding-left: 50px;
}
.ph-50 {
  @extend .pr-50;
  @extend .pl-50;
}
.pv-50 {
  @extend .pt-50;
  @extend .pb-50;
}
.pa-50 {
  padding: 50px;
}

.mb-45 {
  margin-bottom: 45px;
}
.pb-46 {
  padding-bottom: 46px;
}

//60
.pt-60 {
  padding-top: 60px;
}
.pl-60 {
  padding-left: 60px;
}
.pr-60 {
  padding-right: 60px;
}
.pb-60 {
  padding-bottom: 60px;
}
.pa-60 {
  padding: 60px;
}
.ph-60 {
  @extend .pl-60;
  @extend .pr-60;
}
.mb-60 {
  margin-bottom: 60px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mv-60 {
  @extend .mt-60;
  @extend .mb-60;
}
// 0px
.mt-0 {
  margin-top: 0px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.mh-0 {
  @extend .mr-0;
  @extend .ml-0;
}
.mv-0 {
  @extend .mt-0;
  @extend .mb-0;
}
.ma-0 {
  margin: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}
.pb-0 {
  padding-bottom: 0px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.ph-0 {
  @extend .pr-0;
  @extend .pl-0;
}
.pv-0 {
  @extend .pt-0;
  @extend .pb-0;
}
.pa-0 {
  padding: 0px !important;
}

// auto
.mh-a {
  margin-right: auto;
  margin-left: auto;
}

.pv-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.pa-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.mt-45 {
  margin-top: 45px;
}
.pl-45 {
  padding-left: 45px;
}
.pr-45 {
  padding-right: 45px;
}
.pt-45 {
  padding-top: 45px;
}
.pb-45 {
  padding-bottom: 45px;
}
.pl-75 {
  padding-left: 75px;
}
.pr-75 {
  padding-right: 75px;
}
.mt-50 {
  margin-top: 50px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.pl-61 {
  padding-left: 61px !important;
}
.mt-80 {
  margin-top: 80px !important;
}
.pt-80 {
  padding-top: 80px;
}
.pl-90 {
  padding-left: 90px;
}
.pr-90 {
  padding-right: 90px;
}
.mt-100 {
  margin-top: 100px !important;
}
.mv-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.pt-100 {
  padding-top: 100px;
}
.pb-100 {
  padding-bottom: 100px;
}
.mt-150 {
  margin-top: 150px;
}
.pt-150 {
  padding-top: 150px;
}
.pt-0 {
  padding-top: 0px;
}
.pb-150 {
  padding-bottom: 150px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-190 {
  padding-top: 190px;
}

.pl-100 {
  padding-left: 100px;
}
.pr-100 {
  padding-right: 100px;
}
.pa-100 {
  padding: 100px;
}

.mt-250 {
  margin-top: 250px;
}
.mt-300 {
  margin-top: 300px;
}
.mb-neg-150 {
  margin-bottom: -150px;
}
.pb-300 {
  padding-bottom: 300px;
}

//-30

.mt-30n {
  margin-top: -30px !important;
}
.mb-30n {
  margin-bottom: -30px !important;
}
.mr-30n {
  margin-right: -30px !important;
}
.ml-30n {
  margin-left: -30px !important;
}
.mh-30n {
  @extend .mr-30n;
  @extend .ml-30n;
}
.mv-30n {
  @extend .mt-30n;
  @extend .mb-30n;
}
.ma-30n {
  margin: -30px;
}

//-15
.mt-15n {
  margin-top: -15px;
}
.mb-15n {
  margin-bottom: -15px;
}
.mr-15n {
  margin-right: -15px;
}
.ml-15n {
  margin-left: -15px;
}
.mh-15n {
  @extend .mr-15n;
  @extend .ml-15n;
}
.mv-15 {
  @extend .mt-15n;
  @extend .mb-15n;
}
.ma-15n {
  margin: -15px;
}

//-20
.mt-20n {
  margin-top: -20px;
}
.mb-20n {
  margin-bottom: -20px;
}
.mr-20n {
  margin-right: -20px;
}
.ml-20n {
  margin-left: -20px;
}
.mh-20n {
  @extend .mr-20n;
  @extend .ml-20n;
}
.mv-20 {
  @extend .mt-20n;
  @extend .mb-20n;
}
.ma-20n {
  margin: -20px;
}

//-15
.mt-45n {
  margin-top: -45px !important;
}
.mb-45n {
  margin-bottom: -45px !important;
}
.mr-45n {
  margin-right: -45px !important;
}
.ml-45n {
  margin-left: -45px !important;
}
.mh-45n {
  @extend .mr-45n;
  @extend .ml-45n;
}
.mv-45 {
  @extend .mt-45n;
  @extend .mb-45n;
}
.ma-45n {
  margin: -45px !important;
}

//auto

.mauto {
  margin: 0 auto !important;
}
