<mat-sidenav mode="side" [opened]="isLoggedIn$ | async">
  <div class="sidebarnav mt-30">
    <div *ngIf="userType$ | async as user">
      <div class="sidebaropt">
        <a [routerLink]="['/home']">My Profile</a>
      </div>

      <div class="sidebaropt" *ngIf="user === 'user'">
        <a [routerLink]="['/home/delegate']">Access mgmt</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'user'">
        <a [routerLink]="['/home/details']">My Incidents</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'rta'">
        <a [routerLink]="['/home/users']">Users</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'insurance'">
        <a [routerLink]="['/home/users']">Party Incidents</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'police'">
        <a [routerLink]="['/home/users']">Incident Cases</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'rta' || user === 'police'">
        <a [routerLink]="['/home/details']">Audit Trail</a>
      </div>
      <div class="sidebaropt" *ngIf="user === 'user'">
        <a [routerLink]="['/home/track']">Access History</a>
      </div>
    </div>
  </div>
</mat-sidenav>