.about-profile{position:relative;margin:20px 0 30px 0}.about-profile .pro-title{font-weight:700;color:#040404;position:relative;width:120px;display:inline-block;margin-bottom:5px}.about-profile .pro-title:after{position:absolute;content:':';color:#040404;font-size:14px;left:180px !important}.about-profile .admin-sign{position:absolute;right:45px;bottom:10px}
.pro-detail {
    margin-left: 130px !important;
}