@import "../../../../assets/scss/variables.scss";
.section-title {
  color: $primary-color;
  font-size: 24px;
  margin-left: 34px;
}

.section-header {
  padding-bottom: 60px;
  &_left {
    left: 25px;
  }
  &_right {
    right: 25px;
  }
}

.mat-expansion-panel {
  font-size: 14px;
  background: none !important;
  //color: #1D1B40;
  border: none;
  box-shadow: none !important;
  border-bottom: 1px solid lightgray;
  margin: 0px auto !important;
  padding-left: 40px;
}

.mat-expansion-panel-body .row:first-child {
  border-bottom: 1px solid lightgray;
  padding-bottom: 16px;
}

span.mat-expansion-indicator::after {
  display: none !important;
}

.mat-expansion-panel-header {
  pointer-events: none;
}

.details-button {
  color: #2dcca5 !important;
  font-size: 15px !important;
  cursor: pointer !important;
  pointer-events: all !important;
}

.download-button {
  color: #2dcca5 !important;
  font-size: 15px !important;
}
