<div>
  <mat-grid-list cols="2" rowHeight="30px" class="section-header">
    <mat-grid-tile class="d-inline-block page-title">
      <h1 class="section-header_left position-absolute section-title">
        User Incidents
      </h1>
    </mat-grid-tile>
    <!-- <button mat-button class="btn-health float-right" (click)="openModal({type:'qrcode')">
      + Add Users
    </button> -->
  </mat-grid-list>
  <mat-accordion *ngIf="user !== 'rta' && incidents && incidents.data && incidents.data.length > 0">
    <mat-expansion-panel *ngFor="let i of incidents.data; let index" [expanded]="incidents.data.isShown" hideToggle>
      <mat-expansion-panel-header>
        <div class="row w-100">
          <div class="col-8">{{ i.user }} </div>
          <div class="col-2">
            <a class="details-button float-right">
              <span [hidden]="!i.isShown">Hide Details</span>
              <span [hidden]="i.isShown">Show Details</span>
            </a>
          </div>
          <div class="col-2">
              <a class="details-button float-right" (click)="goToPage()">
                <span>View More Details</span>
              </a>
            </div>
        </div>
      </mat-expansion-panel-header>
      <div class="table-responsive" *ngIf="i.info.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Public Address</th>
              <th scope="col">Vehicle ID </th>
              <th scope="col">Acceleration (kmph)</th>
              <th scope="col">Braking (gforce)</th>
              <th scope="col">Time of Drowsiness</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of i.info">
              <td>{{d.name}}</td>
              <td>{{d.address}}</td>
              <td>{{d.vehicleId}}</td>
              <td>{{d.acceleration/10000}}</td>
              <td>{{d.braking/10000}}</td>
              <td>{{convertToTime(d.time)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel *ngFor="let i of incidents; let index" [expanded]="incidents.isShown" hideToggle>
      <mat-expansion-panel-header>
        <div class="row w-100">
          <div class="col-8">{{ i.name }}</div>
          <div class="col-2">
            <a class="details-button float-right" routerLink="" (click)="getProviders('0x'+patient.Account, patient)"></a>
              <span [hidden]="!i.isShown">Hide Details</span>
              <span [hidden]="i.isShown">Show Details</span>
            </a>
          </div>
        </div>
      </mat-expansion-panel-header>
      <div *ngIf="patientDetails">
        <div class="row pb-4 border-bottom">
          <div class="col-2">
            <div>First Name</div>
            <div class="userdata">{{ patientDetails.name[0].given[0] }}</div>
          </div>
          <div class="col-2">
            <div>Last Name</div>
            <div class="userdata">{{ patientDetails.name[0].family }}</div>
          </div>
          <div class="col-2">
            <div>Date of Birth</div>
            <div class="userdata">{{ patientDetails.birthDate }}</div>
          </div>
          <div class="col-2">
            <div>Gender</div>
            <div class="userdata">{{ patientDetails.gender }}</div>
          </div>
        </div>
        <div class="row pb-2 pt-4">
          <div class="col-2">
            <div>Address Line 1</div>
            <div class="userdata">{{ patientDetails.address[0].line[0] }}</div>
          </div>
          <div class="col-2">
            <div>Address Line 2</div>
            <div class="userdata">{{ patientDetails.address[0].line[0] }}</div>
          </div>
          <div class="col-2">
            <div>City</div>
            <div class="userdata">{{ patientDetails.address[0].city }}</div>
          </div>
          <div class="col-2">
            <div>State</div>
            <div class="userdata">{{ patientDetails.address[0].state }}</div>
          </div>
          <div class="col-2">
            <div>Area Code</div>
            <div class="userdata">{{ patientDetails.address[0].postalCode }}</div>
          </div>
          <div class="col-2">
            <div>Country</div>
            <div class="userdata">{{ patientDetails.address[0].country }}</div>
          </div>
        </div>
        <div class="col-md-12 pl-61 mt-30">
          <button mat-button class="btn-health mr-15" (click)="getPatientVisits(patientDetails)">Patients Visits</button>
          <button mat-button class="btn-health mr-15" (click)="getObservations(patientDetails)">Patients History</button>
          <button mat-button class="btn-health mr-15" (click)="getPrescriptions(patientDetails)">Prescriptions</button>
        </div>
      </div>
    </mat-expansion-panel> -->
    <!-- <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <div class="col-8">John Doe</div>
        <div class="col-2">
          <a class="download-button" routerLink="" (click)="download()">Download File</a>
        </div>
        <div class="col-2">
          <a class="download-button pull-right" routerLink="" (click)="togglePanel()">Show Details</a>
        </div>
      </mat-expansion-panel-header>
      <div class="col-2">
        <a class="download-button" routerLink="" (click)="download()">Download File</a>
      </div>
      <div class="col-2">
        <a class="download-button pull-right" routerLink="" (click)="togglePanel()">Show Details</a>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <button mat-button (click)="openModal()">OpenModal</button>
      </p>
    </mat-expansion-panel> -->
  </mat-accordion>
  <h2 class="text-center" *ngIf="user !== 'rta' && (!incidents || !incidents.data || incidents.data.length === 0)">
    {{user === "police" ? "No User incident data": "No party has shared incident data with the you"}}
  </h2>
  <mat-accordion *ngIf="user == 'rta'">
    <mat-expansion-panel [expanded]="false" hideToggle>
      <mat-expansion-panel-header>
        <div class="row w-100">
          <div class="col-8">Siju</div>
          <div class="col-2">
            <a class="details-button float-right" routerLink="">
              <span [hidden]="togglePanel(true)">Show/Hide Details</span>
            </a>
          </div>
          <div class="col-2">
              <a class="details-button float-right" (click)="goToPage()">
                <span>View More Details</span>
              </a>
            </div>
        </div>
      </mat-expansion-panel-header>
      <div>
        <div class="row pb-4 border-bottom">
          <div class="col-2">
            <div>First Name</div>
            <div class="userdata">Siju</div>
          </div>
          <div class="col-2">
            <div>Last Name</div>
            <div class="userdata">K Augustine</div>
          </div>
          <div class="col-2">
            <div>Date of Birth</div>
            <div class="userdata">12/12/1985</div>
          </div>
          <div class="col-2">
            <div>Gender</div>
            <div class="userdata">Male</div>
          </div>
        </div>
        <div class="row pb-2 pt-4">
          <div class="col-2">
            <div>Address Line 1</div>
            <div class="userdata">3213 Nai Villa</div>
          </div>
          <div class="col-2">
            <div>Address Line 2</div>
            <div class="userdata">Post Road</div>
          </div>
          <div class="col-2">
            <div>City</div>
            <div class="userdata">Trivandrum</div>
          </div>
          <div class="col-2">
            <div>State</div>
            <div class="userdata">Kerala</div>
          </div>
          <div class="col-2">
            <div>Area Code</div>
            <div class="userdata">682010</div>
          </div>
          <div class="col-2">
            <div>Country</div>
            <div class="userdata">India</div>
          </div>
        </div>
        <div class="row pl-6 pb-4 pt-4">
          <div class="col-2">
            <div class="font-weight-bold">Vehicle ID</div>
            <div>KL-BQ-12354</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold">Chassis Number</div>
            <div>AB1234</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold">Vehicle Model</div>
            <div>Ford Mustang White Color</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold">License Number</div>
            <div>DL/ABD-1234/UAE</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold">Issued Date</div>
            <div>12/12/2011</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold">Expiry Date</div>
            <div>11/12/2022</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold">Insured By</div>
            <div>AXA Insurance</div>
          </div>
          <div class="col-2">
            <div class="font-weight-bold">Insured ID</div>
            <div>GE1234PIO</div>
          </div>
        </div>
        <div class="col-md-12 pl-61 mt-30">
          <button mat-button class="btn-health mr-15" (click)="delegate(insurance)">Grant Access to Insurance</button>
          <div class="detailtable">
              <div class="row mt-24 detcontenthead" *ngIf="!insurers || insurers.length === 0">
                <div class="col-12 text-center">
                  User data is not shared to any insurers.
                </div>
              </div>
              <div *ngIf="insurers && insurers.length > 0">
                <div class="row mt-24 detcontenthead">
                  <div class="col-3 font-weight-bold">
                    <p>Insurance Name</p>
                  </div>
                  <div class="col-7 font-weight-bold">
                    <p>Public Key</p>
                  </div>
                  <div class="col-2 font-weight-bold">
                    <p>Revoke Access</p>
                  </div>
                </div>
                <div class="row detcontent" *ngFor="let insurer of insurers">
                  <div class="col-3">
                    <p>{{insurer.name || "AXA Insurance"}}</p>
                  </div>
                  <div class="col-7">
                    <p>{{insurer.sharedAddress}}</p>
                  </div>
                  <div class="col-2">
                    <a class="view-btn" style="cursor: pointer; color: lightblue;" (click)="revoke(insurer.sharedAddress)">Revoke</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
      </div>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <div class="col-8">John Doe</div>
      <div class="col-2">
        <a class="download-button" routerLink="" (click)="download()">Download File</a>
      </div>
      <div class="col-2">
        <a class="download-button pull-right" routerLink="" (click)="togglePanel()">Show Details</a>
      </div>
    </mat-expansion-panel-header>
    <div class="col-2">
      <a class="download-button" routerLink="" (click)="download()">Download File</a>
    </div>
    <div class="col-2">
      <a class="download-button pull-right" routerLink="" (click)="togglePanel()">Show Details</a>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>
      <button mat-button (click)="openModal()">OpenModal</button>
    </p>
  </mat-expansion-panel> -->
  </mat-accordion>
</div>