<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="main-auth">
        <div class=" text-center mb-40">
          <h4 class="authhead" *ngIf="signupForm2 === false">Sign Up - 1 of 2 Step</h4>
          <h4 class="authhead" *ngIf="signupForm2 === true">Sign Up - 2 of 2 Step</h4>
          <p class="authsignin">
            Already have an account ?
            <a class="customlink" [routerLink]="['/signin']">Sign In</a>
          </p>
        </div>
        <form class="auth-form row" *ngIf="showOtpform === false">
          <div *ngIf="signupForm2 === false">
            <mat-form-field class="col-12">
              <mat-select placeholder="Sign Up As" [(value)]="user.user">
                <mat-option value="doctor">Doctor</mat-option>
                <mat-option value="patient">Patient</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="signupsubhead col-12 mb-30">
              <h4>Personal information</h4>
            </div>
            <mat-form-field class="col-6">
              <input matInput maxlength="10" [(ngModel)]="user.firstName" name="firstName" placeholder="First Name" />
            </mat-form-field>
            <mat-form-field class="col-6">
              <input matInput maxlength="10" [(ngModel)]="user.familyName" name="familyName" placeholder="Family Name" />
            </mat-form-field>
            <mat-form-field class="col-6">
              <input matInput [matDatepicker]="picker" [(ngModel)]="user.dob" name="dob" placeholder="Choose a date" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-6">
              <input matInput maxlength="13" [(ngModel)]="user.phoneNumber" name="phoneNumber" placeholder="Phone Number" />
            </mat-form-field>
            <mat-form-field class="col-6">
              <mat-select placeholder="Gender" [(ngModel)]="user.gender" name="gender">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-12">
              <textarea matInput [(ngModel)]="user.addressLine1" name="addressLine1" placeholder="Address Line 1"></textarea>
            </mat-form-field>
            <mat-form-field class="col-12">
              <textarea matInput [(ngModel)]="user.addressLine2" name="addressLine2" placeholder="Address Line 2"></textarea>
            </mat-form-field>
            <mat-form-field class="col-6">
              <input matInput maxlength="10" [(ngModel)]="user.city" name="city" placeholder="City" />
            </mat-form-field>
            <mat-form-field class="col-6">
              <input matInput maxlength="10" [(ngModel)]="user.state" name="state" placeholder="State" />
            </mat-form-field>
            <mat-form-field class="col-6">
              <input matInput maxlength="10" [(ngModel)]="user.areaCode" name="areaCode" placeholder="Area Code" />
            </mat-form-field>
            <mat-form-field class="col-6">
              <input matInput maxlength="10" [(ngModel)]="user.country" name="country" placeholder="Country" />
            </mat-form-field>
            <div class="col-12 text-center mt-40 mb-60">
              <button mat-button color="red" class="btn-health" (click)="nextSignup2()">
                Next
              </button>
            </div>
          </div>
          <div class="width100" *ngIf="signupForm2 === true">
            <div *ngIf="user.user !== 'patient'">
              <div class="signupsubhead col-12 mb-30">
                <h4>Professional information</h4>
              </div>
              <mat-form-field class="col-6">
                <input matInput maxlength="10" [(ngModel)]="user.department" name="department" placeholder="Departments" />
              </mat-form-field>
              <mat-form-field class="col-6">
                <input matInput maxlength="10" [(ngModel)]="user.hospital" name="hospital" placeholder="Hospital" />
              </mat-form-field>
            </div>
            <div class="signupsubhead col-12 mb-30 mt-30">
              <h4>Account information</h4>
            </div>
            <mat-form-field class="col-6">
              <input matInput maxlength="10" [(ngModel)]="user.userName" name="userName" placeholder="User Name" />
            </mat-form-field>
            <mat-form-field class="col-6">
              <input matInput [(ngModel)]="user.password" name="password" placeholder="Password" />
            </mat-form-field>
            <mat-form-field class="col-6">
              <input matInput maxlength="10" [(ngModel)]="user.ssn" name="ssn" placeholder="Secure Number/Aadhar" />
            </mat-form-field>
            <mat-form-field class="col-12">
              <mat-select placeholder="Provider" [(value)]="provider">
                <mat-option *ngFor="let p of providers" [value]="p.providerNumber">{{p.providerName}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-6">
              <input matInput maxlength="10" [(ngModel)]="user.emrNumber" name="emrnumber" placeholder="EMR Number" />
            </mat-form-field>
            <div class="col-12 text-center mt-40 mb-60">
              <button mat-button color="red" class="btn-health mr-30" (click)="nextSignup1()">
                Previous
              </button>
              <button mat-button color="red" class="btn-health" (click)="complete()">
                Completed
              </button>
            </div>
          </div>
        </form>
        <form class="auth-form row" *ngIf="showOtpform !== false">
          <mat-form-field class="col-12">
            <input matInput maxlength="10" [(ngModel)]="otp" name="otp" placeholder="Please enter your otp" />
          </mat-form-field>
          <div class="col-12 text-center mt-40 mb-60">
            <button mat-button color="red" class="btn-health mr-30" (click)="showOtpform = false; signupForm2 = true">
              Cancel
            </button>
            <button mat-button color="red" class="btn-health" (click)="signup()">
              Completed
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>